<div class="container">
  <div class="row text-center">
    
    <div class="card col-sm-6 offset-3"> <!-- offset-3 左に3カラム分の余白 -->
      <div class="card-header"><h4><%= @user.name %>さんのユーザ情報編集</h4>
      </div>
        <div class="card-body">
          <div class="card-text">
            <%= form_with(model: @user, local: true) do |f| %>
              <!--< render "layouts/error_messages", model: @puser %>-->
              
            <div class="form-groupe">
              <div class="text-left"><%= f.label :name, "ユーザ名" %></div>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            
             <div class="form-groupe">
              <div class="text-left"><%= f.label :email, "Email" %></div>
              <%= f.text_field :email, class: "form-control" %>
            </div>
            
            <%= f.submit "編集", class: 'btn btn-primary btn-block' %>
            
            <% end %>
        </div> <!-- card -->
    </div> <!-- col  -->
  </div> <!-- /.row -->
</div> <!-- /.container -->
