<div class="container">
  <div class="row text-center">
    <div class="card col-md-6 offset-md-3 py-3">
      <div class="card-header"><h4>投稿の編集</h4></div>
        <div class="card-body">
          
          <% if @post.img? %>
            <%= image_tag @post.img.url %>
          <% else %>
            <%= image_tag "noimg.jpg" %>
          <% end %>
          <!-- 画像 ここまで -->
          
          <div class="card-text">
           <%= form_with(model: @post, local: true) do |f| %>
            <%= render "layouts/error_messages", model: @post %>
            
            <!--<div class="form-group">-->
            <!--  <p><#%= f.check_box :remove_img %>今の画像を削除する</p>-->
            <!--</div-->
            
            <div class="form-group mt-3">
              <%= f.label :title, "タイトル" %>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :content_1, "コメント" %>
              <%= f.text_field :content_1, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :img, "新しい画像" %>
              <%= f.file_field :img, class: "image" %>
            </div>

            
            <%= f.submit "編集", class: "btn btn-primary btn-block" %>
           <% end %>
            </div> <!--card-text -->
         </div> <!--card body -->
    </div> <!--col -->
  </div><!-- row -->
</div> <!-- container -->
