<div class="container">
  <div class="row text-center">
    <div class="card col-sm-6 offset-3">
      <div class="card-header"><h4><%= @post.title %></h4></div>
        <div class="card-body">
          <!--画像 -->
          <% if @post.img? %>
            <%= image_tag @post.img.url %>
          <% else %>
            <%= image_tag "noimg.jpg" %>
          <% end %>
          <!-- 画像 ここまで -->
            <div class="card-text">
              <p> </p>
                <p class="bg-info text-light">ここがおすすめ！</p>
                <p><%= @post.content_1 %></p>
                <!--<p><= @post.content_2 %></p>-->
                <!--<p><= @post.content_3 %></p>-->
            </div>
        </div>
                <%= link_to "この投稿を編集する" , edit_post_path(@post) %>
                <%= link_to "この投稿を削除する" , @post, method: :delete, data:{ confirm: "本当によろしいですか？"} %>

    </div> <!--col -->

  </div><!-- row -->
</div> <!-- container -->
